---
import Layout from "../layouts/Layout.astro";
import PlanetCMS from "../components/CMS/PlanetCMS.svelte";
import { SignOutButton } from "@clerk/astro/components";
import { Code } from "astro:components";
import data from "../data/data.json" assert { type: "json" };
import model from "../data/model.json" assert { type: "json" };

const user = await Astro.locals.currentUser();

// const model = {};

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  console.log("form data", formData);
}

const fetchOptions = {
  headers: {
    Authorization: `token ${import.meta.env.GITHUB_ACCESS_TOKEN}`,
  },
};
const response = await fetch("https://api.github.com/user", fetchOptions);
const githubUser = await response.json();
---

<Layout>
  <form method="POST">
    <div class="shadow-lg bg-white p-4 px-8 md:flex top-0 left-0 w-full z-50">
      <div class="flex gap-4">
        <div>{user?.emailAddresses[0].emailAddress}</div>
        <a href={Astro.url.origin} target="_blank">{Astro.url.origin}</a>
      </div>
      <div class="ml-auto flex gap-4 items-center mt-4 md:mt-0">
        <SignOutButton asChild={true}
          ><button
            class="border border-slate-500 px-4 py-1 rounded cursor-pointer"
            >Sign Out</button
          ></SignOutButton
        >
        <input
          type="submit"
          class="bg-slate-800 text-white px-6 py-1 rounded cursor-pointer"
          value="Save Changes"
        />
      </div>
    </div>
    <div class="p-8">
      <div>VERCEL_GIT_REPO_SLUG: {import.meta.env.VERCEL_GIT_REPO_SLUG}</div>
      <div>VERCEL_GIT_REPO_OWNER: {import.meta.env.VERCEL_GIT_REPO_OWNER}</div>
      data
      <Code
        code={JSON.stringify(data, null, "\t")}
        lang="js"
        class="p-4 rounded-lg mt-2 text-base"
      />
      model
      <Code
        code={JSON.stringify(model, null, "\t")}
        lang="js"
        class="p-4 rounded-lg mt-2 text-base"
      />
    </div>
    <PlanetCMS client:load />
  </form>
</Layout>
